html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}

.indexWrap {
  padding: 20px;
}

.set-opt-line {
  padding: 5px 0;
}

.set-opt-line .set-opt-input {
  width: 100px;
  margin-right: 20px;
}

.opt-link {
  color: #1890ff;
  cursor: pointer;
  margin-right: 10px;
}